@font-face {
  font-family: "Lemon Milk";
  src: url(../../font/LemonMilk.otf); }

header {
  position: relative; }
  header .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: all 1s ease; }
    header .navbar .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      header .navbar .container .logo {
        display: flex;
        align-items: center; }
        header .navbar .container .logo img {
          width: 100%; }
        header .navbar .container .logo h2 {
          font-family: "Lemon Milk";
          letter-spacing: 3px;
          color: #f7efc0;
          text-shadow: 4px -2px 0px #510a0a; }
      header .navbar .container .menu {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        overflow: hidden; }
        header .navbar .container .menu a {
          text-decoration: none;
          color: #f7efc0;
          letter-spacing: 2px;
          transition: all 0.19s; }
        header .navbar .container .menu a:hover {
          text-shadow: 3px -2px 3px #510a0a; }
      header .navbar .container .buttonBurguer {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        outline: none;
        width: 2em;
        display: none; }
        @media (max-width: 768px) {
          header .navbar .container .buttonBurguer {
            display: flex;
            margin: 0 20px 0 0; } }
      header .navbar .container .line {
        fill: none;
        stroke: #f5f5f5;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1); }
      header .navbar .container .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6; }
      header .navbar .container .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6; }
      header .navbar .container .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6; }
      header .navbar .container .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6; }
      header .navbar .container .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6; }
      header .navbar .container .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6; }
  header .background {
    background: transparent;
    transition: all 0.5s ease; }
  header .sticky {
    background: rgba(123, 68, 107, 0.8);
    transition: all 0.5s ease;
    padding: 0;
    box-shadow: 0px 1px 5px 3px rgba(88, 70, 136, 0.3); }
  header .hero {
    height: 100vh;
    position: relative; }
    header .hero .container {
      width: 100%;
      height: 100%;
      display: table; }
      header .hero .container .container-hero {
        background-image: url(../../img/);
        background-attachment: fixed;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        background-color: rgba(40, 11, 63, 0.56);
        background-blend-mode: overlay; }
        header .hero .container .container-hero h3 {
          font-style: italic;
          color: #e4e4e4;
          text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2); }
        header .hero .container .container-hero a button {
          appearance: inherit;
          border: none;
          background-color: transparent;
          outline: none;
          text-transform: uppercase;
          font-weight: bold;
          color: #1a1a1a;
          cursor: pointer;
          background-color: #ffee00e1;
          text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
          border-radius: 9.5px;
          box-shadow: 3px 5px 7px 0px rgba(94, 93, 0, 0.39); }
        header .hero .container .container-hero a button:hover {
          border: none;
          outline: none; }
        header .hero .container .container-hero a button:active {
          border: none;
          outline: none;
          box-shadow: 7px 10px 8px 0px rgba(94, 93, 0, 0.301); }
  @media (min-width: 768px) {
    header .navbar .container .logo img {
      width: 80px;
      margin: 5px 0 5px 45px; }
    header .navbar .container .logo h2 {
      margin: 0 0 0 10px; }
    header .navbar .container .menu {
      margin: 0 30px 0 0; }
      header .navbar .container .menu a {
        width: 100px;
        padding: 0 5px;
        font-size: 0.8rem; }
      header .navbar .container .menu a:hover {
        font-size: 0.97rem;
        color: #fffcee; }
    header .hero .container {
      box-shadow: 0px 1px 5px 3px rgba(88, 70, 136, 0.5); }
      header .hero .container .container-hero {
        background-image: url(../../img/mont4.jpg);
        background-size: cover;
        background-position: center; }
        header .hero .container .container-hero .slogan {
          font-size: 3rem;
          padding: 10px 50px; }
        header .hero .container .container-hero a button {
          padding: 15px 25px;
          font-size: 1.3rem; } }
  @media (max-width: 768px) {
    header .navbar .container {
      height: 50px; }
      header .navbar .container .logo img {
        width: 40px;
        margin: 5px 15px 5px 15px; }
      header .navbar .container .logo h2 {
        font-size: 0.9rem; }
      header .navbar .container .menu {
        display: none; }
    header .hero .container .container-hero {
      background-image: url(../../img/mont1.jpg);
      background-size: cover;
      background-position: center;
      background-color: rgba(40, 11, 63, 0.56);
      background-blend-mode: overlay;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      header .hero .container .container-hero .slogan {
        padding: 40% 18px 0 18px;
        font-size: 1.7rem; }
      header .hero .container .container-hero a button {
        font-size: 0.9rem;
        padding: 15px 25px;
        margin: 0 0 50% 0; } }

.servicios .container-title h4 {
  margin: 0;
  font-size: 1.5rem; }

.servicios .container-title .line {
  border-bottom: 5px solid #cdbef6;
  width: 400px;
  margin: 0 0 0 -250px; }

.servicios .container-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .servicios .container-main .card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: end; }
    .servicios .container-main .card .container-img img {
      width: 100%; }

@media (min-width: 768px) {
  .servicios {
    padding: 130px 80px; }
    .servicios .container-title h4 {
      margin: 0 0 25px 0; }
    .servicios .container-text {
      margin: 0 0 75px 0; }
    .servicios .container-main .card {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 0 100px 0; }
      .servicios .container-main .card .container-img {
        width: 300px; }
    .servicios .container-main .card:nth-last-child(1) {
      flex-direction: row-reverse;
      text-align: initial; } }

@media (max-width: 768px) {
  .servicios .container-title {
    padding: 40px 0 20px 20px; }
    .servicios .container-title h4 {
      font-size: 1.4rem;
      margin: 0 0 7px 0; }
    .servicios .container-title .line {
      margin: 0 0 0 -300px; }
  .servicios .container-main {
    margin: 70px;
    box-sizing: border-box;
    overflow: hidden; }
    .servicios .container-main .card {
      width: 100%;
      margin-bottom: 50px;
      display: flex;
      flex-direction: column; }
      .servicios .container-main .card .container-img {
        width: 200px; }
        .servicios .container-main .card .container-img img {
          width: 100%; }
      .servicios .container-main .card .container-content {
        width: 250px;
        padding: 15px; }
    .servicios .container-main .card:nth-last-child(1) .container-img {
      display: flex;
      flex-direction: column; } }

.quote blockquote {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: linear-gradient(to right, #DE3375, #fc68af), url(../../img/quote-img.jpg);
  background-blend-mode: soft-light;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(8, 8, 8, 0.3); }
  .quote blockquote .quote-izq {
    width: 2em;
    margin: 0 20px; }
  .quote blockquote .quote-der {
    width: 2em;
    margin: 0 20px;
    transform: scaleX(-1) scaleY(-1); }
  .quote blockquote p {
    text-align: center;
    font-size: 1.8rem; }

.nosotros {
  width: 100%; }
  .nosotros .container-title .title h4 {
    margin: 0; }
  .nosotros .container-title .title .line {
    border-bottom: 5px solid #cdbef6;
    width: 400px;
    margin: 0 0 0 -250px; }
  .nosotros .container-title .info {
    align-items: center; }
  @media (min-width: 768px) {
    .nosotros .container-cards .card .img {
      width: 80px;
      height: 80px;
      border-radius: 150%;
      overflow: hidden; }
      .nosotros .container-cards .card .img img {
        width: 100%; } }
  @media (max-width: 768px) {
    .nosotros .container-cards .card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .nosotros .container-cards .card .img {
        width: 80px;
        height: 80px;
        border-radius: 150%;
        overflow: hidden; }
        .nosotros .container-cards .card .img img {
          width: 100%; }
      .nosotros .container-cards .card .text h3 {
        font-size: 1rem; }
      .nosotros .container-cards .card .text p {
        font-size: 0.9rem; } }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box; }
