header {
  position: relative;
  /* .hero:before {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        background-image: url("./img/hero.png");
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }*/ }
  header .navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d28e5f;
    z-index: 10; }
    header .navbar .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      header .navbar .container .logo {
        display: flex;
        align-items: center; }
        header .navbar .container .logo img {
          width: 100%; }
  header .hero {
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }
    header .hero .container {
      width: 100%;
      height: 100%;
      display: table; }
      header .hero .container .container-hero {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto; }
  @media (min-width: 768px) {
    header .navbar .container {
      padding: 10px 15px; }
      header .navbar .container .logo img {
        width: 80px; } }
  @media (max-width: 767px) {
    header .navbar .container {
      padding: 10px 15px; }
      header .navbar .container .logo img {
        width: 60px; }
      header .navbar .container .menu {
        display: none; }
    header .hero .container .container-hero .slogan {
      font-size: 1.9rem; }
    header .hero .container .container-hero a button {
      appearance: inherit;
      border: none;
      background-color: transparent;
      outline: none; }
    header .hero .container .container-hero a button:hover {
      border: none;
      outline: none; }
    header .hero .container .container-hero a button:active {
      border: none;
      outline: none; } }

.servicios .container-title h4 {
  margin: 0;
  font-size: 1.5rem; }

.servicios .container-title .line {
  border-bottom: 5px solid #cdbef6;
  width: 400px;
  margin: 0 0 0 -250px; }

.servicios .container-main img {
  width: 100px; }

.quote blockquote {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: linear-gradient(to right, #DE3375, #fc68af), url(../../img/quote-img.jpg);
  background-blend-mode: soft-light;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(8, 8, 8, 0.3); }
  .quote blockquote .quote-izq {
    width: 2em;
    margin: 0 20px; }
  .quote blockquote .quote-der {
    width: 2em;
    margin: 0 20px;
    transform: scaleX(-1) scaleY(-1); }
  .quote blockquote p {
    text-align: center;
    font-size: 1.8rem; }

.nosotros {
  width: 100%; }
  .nosotros .container-title .title h4 {
    margin: 0; }
  .nosotros .container-title .title .line {
    border-bottom: 5px solid #cdbef6;
    width: 400px;
    margin: 0 0 0 -250px; }
  .nosotros .container-title .info {
    align-items: center; }
  @media (min-width: 992px) {
    .nosotros .container-cards .card .img {
      width: 80px;
      height: 80px;
      border-radius: 150%;
      overflow: hidden; }
      .nosotros .container-cards .card .img img {
        width: 100%; } }
  @media (min-width: 768px) {
    .nosotros .container-cards .card .img {
      width: 80px;
      height: 80px;
      border-radius: 150%;
      overflow: hidden; }
      .nosotros .container-cards .card .img img {
        width: 100%; } }
  @media (max-width: 767px) {
    .nosotros .container-cards .card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .nosotros .container-cards .card .img {
        width: 80px;
        height: 80px;
        border-radius: 150%;
        overflow: hidden; }
        .nosotros .container-cards .card .img img {
          width: 100%; }
      .nosotros .container-cards .card .text h3 {
        font-size: 1rem; }
      .nosotros .container-cards .card .text p {
        font-size: 0.9rem; } }

body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box; }
