@import "./sections/header";
@import "./sections/servicios";
@import "./sections/quote";
@import "./sections/nosotros";
@import "./sections/contacto";
@import "./sections/footer";
@import "./sections/servicios-page";
@import "./component/menuModal";
@import "./component/navbar";

html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

//BUTTON GENERAL
button {
  --top: 50%;
  --left: 50%;
  --size: 100%;
  color: #fff;
  background:rgba(111,64,106,0.9);
  border: none;
  //border: 1px solid rgba(94, 54, 90, 0.9);
  padding: 0.6rem 1.25rem;
  font-size: 0.8rem;
  border-radius: 5px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  position: relative;
  outline: none;
  cursor: pointer;
  &:active{
    padding: 0.59rem 1.19rem;
    font-size: 0.78rem;
  }
}
button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: currentColor;
  border-radius: inherit;
  opacity: 0;
}
button:focus:before,
button:hover:before {
  opacity: 0.1;
}
button:after {
  content: "";
  position: absolute;
  top: var(--top);
  left: var(--left);
  transform: translate(-50%, -50%);
  width: var(--size);
  height: var(--size);
  background: currentColor;
  clip-path: circle(0%);
  opacity: 0.3;
  border-radius: inherit;
}
button:active:after {
  clip-path: circle(100%);
  opacity: 0;
  transition: clip-path 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.4s ease-in-out;
  transition-delay: -0.1s, 0.5s;
}



