@import "./scss/mixin/respon";
@import "../variable/colors";
@font-face {
    font-family: "Lemon Milk";
    src: url(../../font/LemonMilk.otf);
    }
header{
    position: relative;
    
    .background{
        background: transparent; 
        transition: all 0.5s ease;
    }
    .hero{
        height: 100vh;
        position: relative;
        .container{
            width: 100%;
            height: 100vh;
            .container-hero{
                width: 100%;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-attachment: fixed;
                text-align: center;
                width: 100%;
                background-color: rgba(40, 11, 63, 0.56);
                background-blend-mode: overlay;
                h3{
                    font-style: italic;
                    color: rgb(228, 228, 228);
                    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
                }
                .container-btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    a{
                        text-decoration: none;
                        button{
                            appearance:inherit;
                            border: none;
                            background-color: transparent;
                            outline: none;
                            text-transform: uppercase;
                            color: $blanco;
                            cursor: pointer;
                            background-color: rgba(111,64,106,0.9);
                            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
                            border-radius: 6px;
                            font-size: 0.9rem;
                            line-height: 20px;
                            letter-spacing: 1px;
                            box-shadow: rgba(255, 255, 255, 0.18) 1px 1px 1px;
                            border: solid 1px #fff;
                        }
                        button:hover{
                            border: none;
                            outline: none;
                        }
                        button:active{
                            border: none;
                            outline: none;
                            box-shadow: 7px 10px 8px 0px rgba(94, 93, 0, 0.301);
                        }

                    }
                }
            }
        }
    }

    @include respon(tablet){ ///////////////////// TABLET
        .hero{
            .container{
                box-shadow: 0px 1px 5px 3px rgba(88, 70, 136, 0.5);
                .container-hero{
                    background-image: url(../../img/hero-tablet.jpg);
                    background-size: cover;
                    background-position: center;

                    .slogan{
                        font-size: 3rem;
                        padding: 40px 50px;
                    }
                    .container.hero{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                    }
                    .container-btn{
                          flex-direction: row;  
                        a{
                            width: 400px;
                            margin: 0 20px;
                            button{
                                height: 50px;
                                font-size: 1rem;
                            }
                            button:active{
                                padding: 1.07em 1.17m;
                                font-size: 1.17rem;
                            }
                        }
                    }
                    
                }
            }
        }
    }

    @include respon(mobile){ ///////// MOBILE
        .hero{
            .container{
                .container-hero{
                    background-image: url(../../img/hero-mobile.jpg);
                    background-size: cover;
                    background-position: center;
                    background-color: rgba(40, 11, 63, 0.56);
                    background-blend-mode: overlay;
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .slogan{
                        padding: 40% 18px 0 18px;
                        font-size: 1.7rem;
                    }
                    .container-btn{
                        margin: 0 0 20% 0;
                        a{
                            margin: 40px 0 0 0;
                            button{
                                font-size: 0.9rem;
                                padding: 0.9em 1em;

                            }
                        }
                    }
                    
                }
            }
        }
    }
    
}