@import "./scss/mixin/respon";
@import "../variable/colors";
@font-face {
    font-family: "Lemon Milk";
    src: url(../../font/LemonMilk.otf);
    }
header{
    position: relative;
    
    .background{
        background: transparent; 
        transition: all 0.5s ease;
    }
    .hero{
        height: 100vh;
        position: relative;
        .container{
            width: 100%;
            height: 100%;
            display: table;
            .container-hero{
                background-attachment: fixed;
                text-align: center;
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                background-color: rgba(40, 11, 63, 0.56);
                background-blend-mode: overlay;
                h3{
                    font-style: italic;
                    color: rgb(228, 228, 228);
                    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
                }
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    button{
                        appearance:inherit;
                        border: none;
                        background-color: transparent;
                        outline: none;
                        text-transform: uppercase;
                        font-weight: bold;
                        //color: $negro;
                        color: $blanco;
                        cursor: pointer;
                        //background-color: #ffee00e1;
                        background-color: rgba(111,64,106,0.9);
                        //text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
                        border-radius: 6px;
                        box-shadow: 3px 5px 7px 0px rgba(94, 93, 0, 0.39);
                    }
                    button:hover{
                        border: none;
                        outline: none;
                    }
                    button:active{
                        border: none;
                        outline: none;
                        box-shadow: 7px 10px 8px 0px rgba(94, 93, 0, 0.301);
                    }
                }
            }
        }
    }

    @include respon(tablet){ ///////////////////// TABLET
        .hero{
            .container{
                box-shadow: 0px 1px 5px 3px rgba(88, 70, 136, 0.5);
                .container-hero{
                    background-image: url(../../img/hero-tablet.jpg);
                    background-size: cover;
                    background-position: center;

                    .slogan{
                        font-size: 3rem;
                        padding: 10px 50px;
                    }
                    a{

                        button{
                            height: 64px;
                            padding: 1.1em 1.2em;
                            font-size: 1.2rem;
                        }
                        button:active{
                            padding: 1.07em 1.17m;
                            font-size: 1.17rem;
                        }
                    }
                }
            }
        }
    }

    @include respon(mobile){ ///////// MOBILE
        .hero{
            .container{
                .container-hero{
                    background-image: url(../../img/hero-mobile.jpg);
                    background-size: cover;
                    background-position: center;
                    background-color: rgba(40, 11, 63, 0.56);
                    background-blend-mode: overlay;
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .slogan{
                        padding: 40% 18px 0 18px;
                        font-size: 1.7rem;
                    }
                    a{
                        button{
                            font-size: 0.9rem;
                            padding: 0.9em 1em;
                            margin: 0 0 50% 0;
                        }
                    }
                }
            }
        }
    }
    
}