@import "./scss/mixin/respon";
@import "../variable/colors";
@font-face {
    font-family: "Lemon Milk";
    src: url(../../font/LemonMilk.otf);
    }
header{
    position: relative;
    .navbar{
        position: fixed;
        top: 0; 
        width: 100%;
        z-index: 10;
        transition: all 1s ease;
        
        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .logo{
                display:flex;
                align-items: center;
                img{
                    width: 100%;
                }
                h2{
                    font-family: "Lemon Milk";
                    letter-spacing: 3px;
                    color:#f7efc0;
                    text-shadow: 4px -2px 0px rgb(81,10,10);
                }
            }
            .menu{
                display:flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                overflow: hidden;
                a{
                    text-decoration: none;
                    color:#f7efc0;
                    letter-spacing: 2px;
                    transition: all 0.19s ;
                }
                a:hover{
                    text-shadow: 3px -2px 3px rgb(81,10,10);

                }
            }
            @import "../component/button";
        }
    }
    .background{
        background: transparent; 
        transition: all 0.5s ease;
    }
    .sticky{
        background: rgba(123, 68, 107, 0.8);
        transition: all 0.5s ease;
        padding: 0;
        box-shadow: 0px 1px 5px 3px rgba(88, 70, 136, 0.3);
    }
    
    .hero{
        height: 100vh;
        position: relative;
        .container{
            width: 100%;
            height: 100%;
            display: table;
            .container-hero{
                background-image: url(../../img/);
                background-attachment: fixed;
                text-align: center;
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                background-color: rgba(40, 11, 63, 0.56);
                background-blend-mode: overlay;
                h3{
                    font-style: italic;
                    color: rgb(228, 228, 228);
                    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
                }
                a{
                    button{
                        appearance:inherit;
                        border: none;
                        background-color: transparent;
                        outline: none;
                        text-transform: uppercase;
                        font-weight: bold;
                        color: $negro;
                        cursor: pointer;
                        background-color: #ffee00e1;
                        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
                        border-radius: 9.5px;
                        box-shadow: 3px 5px 7px 0px rgba(94, 93, 0, 0.39);
                    }
                    button:hover{
                        border: none;
                        outline: none;
                    }
                    button:active{
                        border: none;
                        outline: none;
                        box-shadow: 7px 10px 8px 0px rgba(94, 93, 0, 0.301);
                    }
                }
            }
        }
    }

    @include respon(tablet){ ///////////////////// TABLET
        .navbar{
            .container{
                .logo{
                    img{
                        width: 80px;
                        margin: 5px 0 5px 45px;
                    }
                    h2{
                        margin: 0 0 0 10px;
                    }
                }
                .menu{
                    margin: 0 30px 0 0;
                    a{  
                        width: 100px;
                        padding: 0 5px;
                        font-size: 0.8rem;
                    }
                    a:hover{
                        font-size: 0.97rem;
                        color: #fffcee;
                    }
                }
            }
        }
        .hero{
            .container{
                box-shadow: 0px 1px 5px 3px rgba(88, 70, 136, 0.5);
                .container-hero{
                    background-image: url(../../img/mont4.jpg);
                    background-size: cover;
                    background-position: center;

                    .slogan{
                        font-size: 3rem;
                        padding: 10px 50px;
                    }
                    a{
                        button{
                            padding: 15px 25px;
                            font-size: 1.3rem;
                        }
                        button:active{

                        }
                    }
                }
            }
        }
    }

    @include respon(mobile){ ///////// MOBILE
        .navbar{
            .container{
                height: 50px;
                .logo{
                    img{
                        width: 40px;
                        margin: 5px 15px 5px 15px;
                    }
                    h2{
                        font-size: 0.9rem;
                    }
                }
                .menu{
                    display: none;
                }
            }
        }
        .hero{
            .container{
                .container-hero{
                    background-image: url(../../img/mont1.jpg);
                    background-size: cover;
                    background-position: center;
                    background-color: rgba(40, 11, 63, 0.56);
                    background-blend-mode: overlay;
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .slogan{
                        padding: 40% 18px 0 18px;
                        font-size: 1.7rem;
                    }
                    a{
                        button{
                            font-size: 0.9rem;
                            padding: 15px 25px;
                            margin: 0 0 50% 0;
                        }
                    }
                }
            }
        }
    }
    
}