@import "../variable/font-size";
@import "../variable/colors";
@import "../mixin/respon";
.nosotros{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .container-title{   
        display: flex;
        justify-content: right;
        flex-direction: column;
        h4{
            font-family: 'Sansita Swashed', cursive;
        }
        .line{
            border-bottom: 5px solid #ffeb3b;
            width: 400px;
            margin: 5px 0 0 -255px;
        }
    }
    .text{
        p{
            letter-spacing: 0.9px;
            line-height: 22px;
        }
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        .container-perfil{
            display: flex;
            justify-content: center;
            align-items: center;  
            .izq{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    box-shadow: -15px -15px 2px 2px rgba(125,83,121,0.3);
                    border-radius: 3px;
                }
            }
            .der{
                position: relative;
                h4{
                    position: relative;
                    display: inline-flex;
                    margin: 0;
                    letter-spacing: 0.9px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    span{
                        margin: 0 0 0 10px;
                        width: 20px ;
                    }
                }
                p{
                    font-weight: lighter;
                    line-height: 20px;
                    font-weight: regular;
                    letter-spacing: 0.7px;
                    color: black;
                    text-shadow: rgba(0, 0, 0, 1) 0.1px 0.1px 1px;
                    
                }
                .line-right{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background:  rgba(125,83,121, 0.6);

                }
                .line-bottom{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background:  rgba(125,83,121, 0.6);

                }
            }
        }
        .container-perfil-revers{
            display: flex;
            justify-content: center;
            align-items: center;
            .der{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    box-shadow: 15px -15px 2px 2px rgba(125,83,121,0.3);
                    border-radius: 3px;
                }
            }
            .izq{
                position: relative;
                h4{
                    margin: 0;
                    letter-spacing: 0.9px;
                    font-weight: bold;
                    span{
                        margin: 0 0 0 10px;
                        width: 20px ;
                        img{
                            width: 20px;
                        }
                    }
                }
                p{
                    font-weight: lighter;
                    line-height: 20px;
                    font-weight: regular;
                    letter-spacing: 0.7px;
                    color: black;
                    text-shadow: rgba(0, 0, 0, 1) 0.1px 0.1px 1px;
                }
                .line-right{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background:  rgba(125,83,121, 0.6);
                }
                .line-bottom{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background:  rgba(125,83,121, 0.6);
                }
            }
        }
    }
    @include respon(tablet){    
        .container-title{   
            padding: 80px 0 0 80px;
            h4{
                font-size: 2rem;
                margin: 0 0 5px 0;
            }
            .line{
            }
        }
        .text{
            display: flex;
            justify-content: center;
            text-align: center;
            width: 100%;
            margin: 40px 0 0 0;
            p{
                padding: 0 150px;
                margin: 0;
            }
        }
        main{
            flex-direction: column;
            .container-perfil{ 
                margin: 50px 0px 0 0;
                .izq{
                    margin: 0 50px 0 0;
                    img{
                        width: 150px;
                    }
                }
                .der{
                    width: 500px;
                    p{
                        margin: 0 2em 0.5em 0;
                        font-size: 1rem;  
                    }
                    h4{
                        display: flex;
                        font-size: 1.2rem;
                        margin: 0 0 5px 0;
                        span{
                            margin: 0 0 10px 0;
                            a{
                                img{ 
                                    width: 30px;
                                    margin: 0 0 -3px 10px;
                                }
                            }   
                        }
                    }

                    .line-right{
                        height: 50px;
                        width: 2px;
                    }
                    .line-bottom{
                        height: 2px;
                        width: 100px;
                    }
                }
            }
            .container-perfil-revers{
                margin: 50px 0 0 0;  
                .der{
                    margin: 0 0 0 50px;
                    img{
                        width: 150px;
                    }
                }
                .izq{
                    display: inline-block;
                    float: right;
                    width: 480px;
                    p{
                        margin: 10px 0 1.5em 2em;
                        font-size: 1rem;
                        text-align: right;
                    }
                    h4{
                        position: relative;
                        text-align: right;
                        font-size: 1.1rem;
                        margin: 0 0 5px 1.8em;
                        border: none;
                        span{
                            margin: 0 0 0px 0;
                            a{
                                img{ 
                                    width: 30px;
                                    margin: 0 0 -3px 5px;
                                }
                            }   
                        }
                    }
                    .line-right{
                        height: 50px;
                        width: 2px;
                    }
                    .line-bottom{
                        height: 2px;
                        width: 100px;
                    }
                }
            }
        }
    }
    @include respon(mobile){
        .container-title{   
            padding: 70px 0 0 30px;
            h4{
                font-size: 1.5rem;
                margin: 0 0 10px 0;
            }
            .line{
                width: 450px;
                height: 5px;
                margin: 0 -320px;
            }
        }
        .text{
            display: flex;
            justify-content: center;
            text-align: center;
            width: 100%;
            margin: 40px 0 0 0;
            p{
                width: 300px;
                margin: 0;
            }
        }
        main{
            flex-direction: column;
            .container-perfil{
                flex-direction: column;
                .izq{
                    margin: 70px 0 0 0;
                    img{
                        width: 150px;
                    }
                }
                .der{
                    margin: 20px 0 0 0;
                    width: 300px;
                    position: relative;
                    h4{
                        font-size: 1.1rem;
                        margin: 5px 0 5px 0;
                    }
                    p{
                        margin: 0 2em 1.5em 0;
                        font-size: 1rem;
                    }
                    .line-right{
                        height: 50px;
                        width: 2px;
                    }
                    .line-bottom{
                        height: 2px;
                        width: 100px;
                    }
                }
            }
            .container-perfil-revers{
                flex-direction: column;
                .der{
                    margin: 65px 0 20px 0;
                    img{
                        width: 150px;
                    }
                }
                .izq{
                    order: 1;
                    width: 300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0 0 0 10px;
                    p{
                        text-align: right;
                        font-size: 1rem;
                        margin: 5px 0 1.1em 0;
                        padding: 0 0 5px 0;
                    }
                    h4{
                        position: relative;
                        justify-content: right;
                        display: flex;
                        align-items: center;
                        font-size: 1.1rem;
                        margin: 5px 0 5px 0;
                        border: none;
                    }

                    .line-right{
                        height: 50px;
                        width: 2px;
                    }
                    .line-bottom{
                        height: 2px;
                        width: 100px;
                    }
                }
            }
        }
    }
}