@import "../variable/font-size";
@import "../variable/colors";

.quote {
    position: relative;
    width: 100%;
    #canvas-basic{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    blockquote{
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color: $blanco;
        .quote-izq{
            z-index: 2;
        }
        .quote-der{
            transform: scaleX(-1) scaleY(-1);
            z-index: 2;
        }
        p{
            text-align: center;
            z-index: 2;
        }
    }
    @include respon(tablet){
        blockquote{
            height: 140px;
            margin: 0;
            .quote-izq{
                width: 2em;
                margin: 0 20px;
            }
            .quote-der{
                width: 2em;
                margin: 0 20px;
            }
            p{
                font-size: 1.4rem;
            }
        }
    }
    @include respon(mobile){
        blockquote{
            height: 100px;
            margin: 0;
            .quote-izq{
                width: 1.2em;
                margin: 0 5px;
            }
            .quote-der{
                width: 1.2em;
                margin: 0 5px;
            }
            p{
                width: 250px;
                line-height: 22px;
                letter-spacing: 1px;
                font-size: 1.03rem;
            }
        }
    }
}