@import "../variable/font-size";
@import "../variable/colors";

.servicios {
    .container-title{
        h4{
            margin: 0;
            font-size: $title-section;
        }
        .line{
            border-bottom: 5px solid #cdbef6;
            width: 400px;
            margin: 0 0 0 -250px; //CMABIAR A MEDIA QUERY
        }
    }
    .container-text{

    }
    .container-main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .card{
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: end;
            .container-img{
                img {
                    width: 100%;
                }
            }
   
        }
    }

    @include respon(tablet){
        padding: 130px 80px;
        .container-title{
            h4{
                margin: 0 0 25px 0;
            }
            .line{
            }
        }
        .container-text{
                margin: 0 0 75px 0;
        }
        .container-main{
            .card{
                display: flex;
                justify-content: center;
                width: 100%;
                margin: 0 0 100px 0;
                .container-img{
                    width: 300px;
                    img {
                    }
                }
                .container-content{
                }
            }
            .card:nth-last-child(1){
                flex-direction: row-reverse;
                text-align: initial;
            }
            
        }
    }

    @include respon(mobile){
        .container-title{
            padding: 40px 0 20px 20px ;
            h4{
                font-size: 1.4rem;
                margin: 0 0 7px 0;
            }
            .line{
                margin: 0 0 0 -300px;
            }
        }
        .container-text{}
        .container-main{
            margin: 70px;  
            box-sizing: border-box;
            overflow: hidden;    
            .card{
                width: 100%;
                margin-bottom: 50px;
                display: flex;
                flex-direction: column;
                .container-img{
                    width: 200px;
                    img{
                        width: 100%;
                    }
                }
                .container-content{
                    width: 250px;
                    padding: 15px;
                }
            }
            .card:nth-last-child(1){
                .container-img{
                    display: flex;
                    flex-direction: column;
                    img {
                    }
                }
            }

        }
    }
}