@import "../variable/font-size";
@import "../variable/colors";

.servicios {
    .container-title{
        h4{
            margin: 0;
            font-size: $title-section;
        }
        .line{
            border-bottom: 5px solid #cdbef6;
            width: 400px;
            margin: 0 0 0 -250px; //CMABIAR A MEDIA QUERY
        }
    }
    .container-text{

    }
    .container-main{
        img {
            width: 100px;
        }
    }

    @include respon(desktop){
        .container-title{
            h4{}
            .line{}
        }
        .container-text{}
        .container-main{
            img {}
        }
    }

    @include respon(tablet){
        .container-title{
            h4{}
            .line{}
        }
        .container-text{}
        .container-main{
            img {}
        }
    }

    @include respon(mobile){
        .container-title{
            h4{}
            .line{}
        }
        .container-text{}
        .container-main{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 70px 20px;    
            box-sizing: border-box;
            overflow: hidden;        
            .card{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                margin-bottom: 100px;
                text-align: end;
                img{
                    width: 170px;
                    height: 250px;
                    background-color: brown;
                    padding: 15px;
                }
                .container-content{
                    width: 250px;
                    padding: 15px;
                }
            }
            .card:nth-last-child(1){
                flex-direction: row-reverse;
                text-align: initial;
            }
        }
    }
}