@import "../variable/font-size";
@import "../variable/colors";
@import "../mixin/respon";

.servicio-page{
    padding: 80px 50px 50px 50px;
    background-color: #f5f5f5;
    .container-servicio{
        background-color: #fff;
        .contenido{
            display: flex;
            justify-content: space-around;
            .izq{
                width:100%;
                min-width: 300px;
                padding: 0 15px 0 30px;
                h3{}
                h5{
                    margin: 5px 0;
                }
            }
            .der{
                display: flex;
                justify-content:center;
                align-items: center;
                width: 100%;
                max-width: 400px;
                min-width: 190px;
                padding: 0 10px;
                img{
                    width: 100%;
                }
            }
        }  

    }
    @include respon(tablet){
        padding: 80px 50px 80px 50px;
        .container-servicio{
            margin: 0 0 50px 0;
            .contenido{
                padding: 40px 0 40px 0;
                box-shadow: rgba(0, 0, 0, 0.18) 2px 2px 2px;
                border-top: 1px inset rgba(0,0,0,.08);
                border-left: 1px inset rgba(0,0,0,.08);
                .izq{
                width:100%;
                min-width: 300px;
                padding: 0 15px 0 30px;
                    h3{ 
                        width: 125px;
                        margin: 0 0 25px 0;
                        border-bottom: solid 1px #da867d;
                        font-size: 1.6rem;
                    }
                    h5{
                        margin: 5px 0;
                        font-size: 1.1rem;
                    }
                    p{
                        font-size: 0.9rem;
                        line-height:22px
                    }
                }
                .der{
                    display: flex;
                    justify-content:center;
                    align-items: center;
                    width: 100%;
                    max-width: 400px;
                    min-width: 190px;
                    padding: 0 10px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
     }
    @include respon(mobile){
        padding: 80px 50px 50px 50px;
        background-color: rgb(245, 245, 245);
        .container-servicio{
            background-color: #fff;
            display: flex;
            flex-direction: column;
            .contenido{
                display: flex;
                flex-direction: column;
                .izq{
                    
                
                }
                .der{
                    display: flex;
                    justify-content:center;
                    align-items: center;
                    width: 100%;
                    max-width: 400px;
                    img{
                        width: 100%;
                    }
                }
            }
            .personalizado{
    
            }
            .educacion{
    
            }
        }
     }
}