@import "../variable/font-size";
@import "../variable/colors";

.servicios {
    background-color: rgb(245, 245, 245);
    .container-title{
        h4{
            font-family: 'Sansita Swashed', cursive;
            margin: 0;
            font-size: $title-section;
            font-weight: 700;
            letter-spacing: 1.2px;
        }
        .line{
            border-bottom: 5px solid #cdbef6;
            width: 400px;
            margin: 0 0 0 -250px; 
            box-shadow: rgba(0, 0, 0, 0.18) 2px 2px 2px;
            border-top: 1px inset rgba(0,0,0,.08);
            border-left: 1px inset rgba(0,0,0,.08);
        }
    }
    .container-text{
        p{
            text-align: center;
        }
    }
    
    .container-main{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        .cards{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: end;
            box-sizing: border-box;
            .container-card{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                background-color: #fff;
                border-radius: 3px;
                box-shadow: rgba(0, 0, 0, 0.18) 2px 2px 2px;
                border-top: 1px inset rgba(0,0,0,.08);
                border-left: 1px inset rgba(0,0,0,.08);
                .container-top{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
                .container-content{
                    h3{
                        text-align: center;
                    }
                }
            }
        }
    }
    
    @include respon(tablet){
        padding: 65px 0 0 0;
        .container-title{
            padding: 0 80px;
            h4{
                margin: 0 0 5px 0;
                font-size: 2rem;
            }
            .line{
            }
        }
        .container-text{
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 45px 0 60px 0;
            p{
                width: 820px;
                font-size: 1.2rem;
                letter-spacing: 1px;
                line-height: 28px;
                margin: 0 0 10px 0;
            }
        }
        .container-main{
            .cards{
                margin: 0 0 100px 0;
                width: 100%;
                height: 328.25px;
                .container-card{
                    width: 202.8px;
                    margin: 30px;
                    padding: 20px 30px;
                    height: 100%;
                    .container-top{
                        img {
                            width: 120px;
                            margin: 5px 0 0 0;
                        }
                        h4{
                            margin: 10px 0 5px 0;
                            font-size: 1.1rem;
                            text-align: center;
                            line-height: 27px;
                            letter-spacing: 0.5px;
                        }
                        .line{
                            width: 60px;
                            border-bottom: solid 2px #cdbef6;
                        }
                    }
                    .container-content{
                        text-align: left;
                        font-size: 0.8rem;
                        margin: 0 0 15px 0;
                        h3{
                            margin: 7px 0 0 0;
                            font-weight: 500;
                            &:nth-child(1){
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    @include respon(mobile){
        padding: 70px 10px 20px 10px ;
        .container-title{
            padding: 0px 0 0 20px;
            h4{
                font-size: 1.5rem;
                margin: 0 0 7px 0;
            }
            .line{
                margin: 0 0 0 -285px;
            }
        }
        .container-text{
            p{
                padding: 3px 20px 0 20px;
                font-size: 0.95rem;
                line-height: 22px;
            }
        }
        .container-main{
            margin: 30px;  
            .cards{
                width: 100%;
                flex-direction: column;
                .container-card{
                    width: 245px;
                    height: 350px;
                    margin: 0 0 30px 0;
                    &:nth-child(3){
                        margin: 0;
                    }
                    .container-top{
                        img {
                            width: 120px;
                            margin: 10px 0 0 0;
                        }
                        h4{
                            margin: 10px 0 5px 0;
                            font-size: 1.2rem;
                            text-align: center;
                            letter-spacing: 0.5px;
                        }
                        .line{
                            width: 70px;
                            border-bottom: solid 2px #cdbef6;
                        }
                    }
                    .container-content{
                        text-align: left;
                        font-size: 0.8rem;
                        h3{
                            margin: 0;
                            font-weight: 500;
                            line-height: 30px;
                            }
                        }
                        &:nth-child(2){
                            h3{
                                line-height: 22px;
                            }
                    }
                    .container-btn{
                        margin: 0 0 20px 0;
                    }   
                }
                
            }
            .card:nth-last-child(1){
                .container-img{
                    display: flex;
                    flex-direction: column;
                    img {
                    }
                }
            }

        }
    }
}