.menu-modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //background: rgba(111,64,106,0.9);
    background: rgba(43, 25, 41, 0.9);
    z-index: 8;
    top: 0;
    left: 0;
    transform: translate(-0%, -100%) scale(0);
    transition: 200ms ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none; 
    a{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;
        color: white;
        text-decoration: none;
        margin: 0 auto;
        font-size: 1.5rem;
        &:active{
            font-size: 1.4rem;  
        }
    }
}
.activeModal {
    transform: translate(-0%, -0%) scale(1);
}

#bodyOverlay{
    transition: 200ms ease-in-out;
    box-sizing: border-box;

    
}
.activeOverlay {
    opacity: 1;
    z-index: 7; 
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    user-select: none; 
    filter: blur(5px);
    
}

